.container {
	display: flex;
}

.left-container {
	flex-grow: 1;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	background-color: #fbfbfb;
}

.right-container {
	flex-grow: 4;
	height: 100%;
}
